* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    width     : 100%;
    height    : 100vh;
    max-width : 100%;
    max-height: 100vh;
    position  : relative;
    overflow  : hidden;
}

.svg1 {
    width   : 700px;
    position: absolute;
    top     : -200px;
    left    : -200px;
    z-index : -1;
}

.svg2 {
    width    : 700px;
    position : absolute;
    bottom   : -200px;
    right    : -200px;
    transform: rotate(20deg);
    z-index  : -1;
}

@media screen and (max-width: 992px) {

    .svg1 {
        width   : 300px; 
        position: absolute;
        top     : -100px;
        left    : -100px;
        z-index : -1;
    }

    .svg2 {
        width    : 300px;
        position : absolute;
        bottom   : -100px;
        right    : -100px;
        transform: rotate(20deg);
        z-index  : -1;
    }
}

.main {
    width          : 100%;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    padding-left   : 20px;
    padding-right  : 20px;
    gap            : 10px;
}

.image-box {
    border-radius  : 5px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    box-shadow     : 0px 6px 5px 0 rgba(150, 150, 150, 0.13), 0px 4px 4px rgba(65, 65, 65, 0.445);
    z-index        : 999;
}

.image-box img {
    border-radius: 5px;
    max-width    : calc(100vw - 300px);
    max-height   : calc(100vh - 300px);
    z-index      : 999;
}

@media screen and (max-width:992px) {
    .image-box img {
        max-width : calc(100vw - 40px);
        max-height: calc(100vh - 30px);
    }
}

.upload-image {
    width           : 200px;
    background-color: red;
}

.input-file-container {
    position: relative;
    width   : 225px;
}

.js .input-file-trigger {
    display   : block;
    padding   : 14px 45px;
    background: #39D2B4;
    color     : #fff;
    font-size : 1em;
    transition: all .4s;
    cursor    : pointer;
}

.js .input-file {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 225px;
    opacity : 0;
    padding : 14px 0;
    cursor  : pointer;
}

.js .input-file:hover+.input-file-trigger,
.js .input-file:focus+.input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color     : #39D2B4;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    margin: 1em 0;
}

.js .file-return {
    font-style : italic;
    font-size  : .9em;
    font-weight: bold;
}

.js .file-return:not(:empty):before {
    content    : "Selected file: ";
    font-style : normal;
    font-weight: normal;
}

#url {
    width        : 250px;
    height       : 30px;
    padding      : 3px;
    border       : none;
    border-bottom: 1px solid #80808080;
    outline      : 0;
    text-align   : center;
}

.bts {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    gap            : 10px;
}

.bts button {
    width           : 130px;
    height          : 30px;
    border-radius   : 3px;
    border          : none;
    background-color: #39a7d2;
    color           : #fff;
}